.container{
	width:600px;
	height:350px;
	margin:100px auto;
	box-shadow: 2px 3px 15px -8px;
}

.content{
	height:250px;
	text-align: center;
	padding: 70px;
}

.content span{
	margin-bottom: 30px;
}

.title{
	width:100%;
	height:90px;
	font-size: 28px;
	color: white;
	padding: 20px;
	background: #26A69A;
}

.panel-body{
	padding: 15px;
}

.panel-body span{
	color:red;
}
.panel-body button{
	float:right;
}